<!-- templates/random.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Random Song</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>🎵 Your Random Song 🎵</h1>
  {% if selected_song %}
    <p><strong>{{ selected_song[1] }}</strong> by {{ selected_song[2] }}</p>
  {% else %}
    <p>No songs available.</p>
  {% endif %}
  <a href="{{ url_for('home') }}">Back to home</a>
</body>
</html>